*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px rgb(0 0 0 / 4%);
}

.nav-bar-bg{
    background-color: #f9f3e8;
    padding: 0px 30px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-bar-bg img{
    height: 42px !important;
}

#nav-btn{
    display: none;
}

#nav-menu{
    display: flex;
    
}

.nav-menu2{
    display: none;
}

#nav-menu a{
    color: black;
    text-decoration: none;
    padding: 15px 20px;
}

.active{
    color: #f5c463 !important;
    font-weight: 700 !important;
}

#nav-menu a:hover{
    color: #f5c463;
    font-weight: 700!important;
}

.nav-menu{
    display: none;
}

.social-icon{
    display: flex;
}

.social-icon a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin: 0 0 0px 20px;
}

.home-gallary-main{
    overflow: hidden;
}

.home-gallary{
    width:  5076px;
    margin-top: 56px;
    min-height: 75vh;
    -webkit-animation: slide 40s linear infinite;
    animation: slide 40s linear infinite;
    background: url(../image/bg-img.webp) repeat-x;
    background-size: contain;
}

.home-gallary h1{
    position: absolute;
    color: #fff;
    width: 100%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 41%;
    text-align: center;
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.wedding-box-main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.wedding-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.wedding-main{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center!important;
    max-width: 33.333333%;
    margin-bottom: 30px;
}

.wedding-img{
    border-radius: 4px!important;
    width: 100%;
}

.wedding-img-overlay{
    overflow: hidden;
}

.wedding-main h4{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
}

.meta{
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #909090;
    letter-spacing: 1px;
}

.slash{
    margin: 0 13px;
}


.wedding-btn{
    color: #fff !important;
    text-decoration: none;
    background: #f5c463;
    border: 0;
    margin-bottom: 10px;
    padding: 17px 25px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    border-radius: 30px;
    text-shadow: none;
    transition: all .15s ease-in-out;
    display: inline-block;
    box-shadow: 0 5px 20px rgba(0,0,0,.04)!important;
}

.wedding-btn:hover{
    background: #658bc0;
}

.wedding-btn-box{
    display: flex;
    justify-content: center;
}

.bg-quote-img{
    background-image: url(../image/bg-img2.webp);
    background-position: 50%;
    position: relative;
    background-size: cover;
    background-attachment: fixed !important;
}

.quote-img{
    /* -webkit-backdrop-filter: brightness(50%); */
    backdrop-filter: brightness(60%);
    color: #fff!important;
    text-align: center;
}

.quote-img h2{
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    font-size: 26px;
    padding-right: 97px;
    padding-left: 97px;
    margin: 0 150px;
    font-weight: bold;
    line-height: 38px;
}

@keyframes slide {
    from {background-position:0 0;}
    to {background-position: -2000px;}
}


.about-main-container{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 1140px;
}


.about-container h2{
    font-size: 22px;
    text-align: center;
    margin: 0 0 40px 0;
    line-height: 34px;
}

.about-sub-container-main{
    display: flex;
    flex-wrap: wrap;
}

.about-sub-container-main > div{
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.about-img-sub{
    width: 100% !important;
}

.about-img-sub img{
    border-radius: 4px!important;
    max-width: 100%;
}

.about-details-container h3{
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}

.about-details-container p{
    font-size: 16px;
    margin: 0 0 20px;
    line-height: 28px;
    text-align: left;
    font-weight: 400;
}

.about-details-container2 h3{
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}

.about-box{
    display: flex;
}

.about-icon{
    min-width: 60px!important;
    margin-right: 25px!important;
}

.about-icon > div{
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    background-color: #f9f3e8;
    border-radius: 50%;
    display: table;
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

.about-icon > div > svg{
    font-size: 30px!important;
    color: #f5c463;
}

.about-sub-box h4{
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 10;
    font-weight: 700;
}

.about-sub-box p{
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 20;
    text-align: left;
    font-weight: 400;
}

.weeding-flims-main-container{
    background-color: #f9f3e8;
}

.weeding-flims-sub-container{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    align-items: center !important;
    position: relative!important;
}

.weeding-flims-image{
    padding-right: 35px!important;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
}

.play-btn{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(245 196 99 / 65%);
    border: 0;
    padding: 20px 50px;
    font-size: 2rem;
    color: white;
    line-height: normal;
}
.play-btn:hover{
    background: rgb(245 196 99);
}

.weeding-flims-image img{
    width: 100% !important;
    border-radius: 4px!important;
    height: auto;
}

.weeding-flims-desc{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
}

.weeding-flims-desc h2{
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}

.weeding-flims-desc p{
    font-size: 15.8px;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 400 !important;
}

.weeding-flims-btn:hover{
    color: #f5c463 !important;
}
.weeding-flims-desc a{
    color: #f5c463 ;
    text-decoration: none;
    font-weight: 600;
}

.weeding-flims-btn{
    background: #fff;
    color: black !important;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 5px;
    padding: 17px 25px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    border-radius: 30px;
    text-shadow: none;
    transition: all .15s ease-in-out;
    display: inline-block;
    box-shadow: 0 5px 20px rgba(0,0,0,.04)!important;
}


.modal-dialog{
    max-width: 75%;
}

.modal-content {
    background: #000;
    margin-top: 40px;
}

.modal-content iframe{
    height: 600px !important;
}

.modal-content > div{
    display: flex;
    justify-content: end;
    padding: 4px;
}

.awards-sub-container{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

.awards-sub-container h2{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 600;
}

.awards-sub-container p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.carousel-item-img{
    display: flex;
    justify-content: center;
}

.carousel-item img{
    max-width: 300px;
}

.carousel-indicators{
    bottom: -15px;
}

.appointment-main-container{
    background-image: url(../image/bg-img3.webp);
    background-position: 50%;
    position: relative;
    background-size: cover;
    background-attachment: fixed !important;
}

.appointment-sub-container{
    max-width: 1140px;
    padding: 80px 0;
    text-align: center;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.appointment-sub-container2 {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 66.666667%;
}

.appointment-sub-container2 h2{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 600;
}

.appointment-sub-container2 p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.appointment-form{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.appointment-form-input{
    height: 48px;
    font-size: 16px;
    background: rgba(0,0,0,.05);
    border: 0;
    border-radius: 25px;
    padding: 0 20px;
    margin-bottom: 20px!important;
    color: #fff!important;
    resize: none;
    box-shadow: none;
    border: 1px solid #dee2e6!important;
    margin-right: .5rem!important;
    background: rgba(0,0,0,.35);
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
}

.appointment-form-input-submit:hover{
    color: #f5c463;
}

input:focus-visible{
    outline: none!important;
}

select:focus-visible{
    outline: none!important;
}

.appointment-form-input-submit{
    background: #fff;
    margin-right: 5px;
    padding: 17px 25px;
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    border-radius: 30px;
    text-shadow: none;
    display: inline-block;
    box-shadow: 0 5px 20px rgba(0,0,0,.04)!important;
    margin-left: 2px!important;
    margin-bottom: 20px!important;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
}

select {
	appearance: none;
}

input{
	appearance: none;
}

.service-sub-container{
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1140px;
    margin: 0 auto;
}

.service-sub-container h2{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
.service-sub-container p{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 50px;
    text-align: center;
}

.service-box-main-container{
    display: flex;
    text-align: left;
    flex: 0 0 50%;
    max-width: 50%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-bottom: 30px;
}

.service-left{
    height: 100%;
    min-width: 50%;
    background: #fff;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden!important;
}

.service-left img{
    width: 104%;
}

.service-heading a{
    text-decoration: none;
    color: #000!important;
}

.service-right h3{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px!important;
    font-weight: 400;
}
.service-right p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px!important;
    text-align: left!important;
    font-weight: 400;
}

.service-right {
    height: 100% !important;
    padding: 30px 20px 30px 35px;
    background: #fff;
    border-radius: 4px;
}

.service-boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.arrow-link a{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #909090!important;
    text-decoration: none;
}

.arrow-link a:hover{
    color: #f5c463!important;
    transition: all .15s ease-in-out;
}


/* media query  */

@media (max-width: 1024px) {
    .social-icon {
        display: none;
    }

    .wedding-box{
        max-width: 960px;
    }

    .quote-img h2{
        margin: auto;
    }

    .about-container{
        max-width: 960px;
        margin: 0 auto;
    }

    .weeding-flims-sub-container{
        max-width: 960px;
        margin: 0 auto;
    }

    .modal-dialog{
        max-width: 80%;
    }

    .modal-content iframe{
        height: 460px !important;
    }

    .awards-sub-container{
        max-width: 960px;
    }

    .appointment-sub-container{
        max-width: 960px;
    }

    .appointment-sub-container2 {
        max-width: 83.333333%;
    }

    
    .service-sub-container{
        max-width: 960px;
    }

    .service-left{
        position: relative;
    }

    .service-left img {
        position: absolute;
        left: -38px;
        top: 0;
        width: 130%;
        height: auto;
    }

    .service-box-main-container {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .service-left img {
        height: auto;
    }

    .service-right p{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .service-img{
        width: 136%!important;
    }

}

@media (max-width: 768px) {
    #nav-btn {
        display: block;
        font-size: 28px;
    }

    .nav-bar-bg{
        justify-content: space-between;
        height: 60px;
    }

    #nav-menu{
        display: none;
    }
    
    .nav-bar{
        display: flex;
        flex-direction: column;
    }

    #nav-menu2{
        flex-direction: column;
        text-align: center;
        background: #f9f3e8;
        padding: 10px 0;
    }

    #nav-menu2 a{
        padding: 5px 0;
        text-decoration: none;
        color: black;
    }

    .nav-menu{
        display: none;
    }
    .nav-menu2{
        display: flex;
    }

    .wedding-main{
        max-width: 50%;
    }
    
    .wedding-box{
        max-width: 750px;
    }

    .about-container{
        max-width: 720px;
        margin: 0 auto;
    }

    .about-sub-container-main{
        flex-direction: column;
        margin-right: -15px;
        margin-left: -15px;
    }

    .about-sub-container-main > div{
        max-width: 100%;
    }

    .weeding-flims-sub-container{
        flex-direction: column;
        align-items: baseline!important;
    }

    .weeding-flims-image{
        max-width: 100%;
        width: 100%;
        padding-left: 15px;
        margin-right: -15px;
        margin-left: -15px;
        padding-right: 8px!important;
        margin-bottom: 30px;
    }
    .weeding-flims-sub-container{
        max-width: 720px;
        margin: 0 auto;
    }

    .weeding-flims-desc{
        max-width: 100%;
        width: 100%;
        padding-right: 0%;
        padding-left: 0;
        font-size: 16px;
    }
    
    .weeding-flims-btn{
        margin-top: 10px;
    }
    
    .modal-dialog{
        max-width: 90%;
    }

    .modal-content iframe{
        height: 385px !important;
    }

    .awards-sub-container{
        max-width: 720px;
    }

    .appointment-sub-container2 {
        max-width: 100%;
    }

    .service-sub-container{
        max-width: 720px;
    }

    .service-box-main-container{
        flex-direction: column;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px!important;
        padding-left: 0px !important;
    }

    .service-left{
        position: relative;
        height: 400px;
        overflow: hidden;
        border-radius: 4px !important;
    }

    .service-left img{
        width: 100% !important;
        left: 0px;
        top: -190px;
    }

    .service-right{
        height: auto!important;
        padding: 50px 20px;
        border-radius: 0px 0px 4px 4px;
    }
}

@media (max-width: 426px) {
    .wedding-box{
        flex-direction: column;
    }

    .wedding-main{
        max-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .quote-img h2{
        padding-right: 15px;
        padding-left: 15px;
    }

    .about-sub-container-main{
        margin-right: 0px;
        margin-left: 0px;
    }

    .about-img{
        margin-bottom: 30px;
    }

    .about-img-sub{
        margin-bottom: 0px;
    }

    .about-container{
        padding-right: 5px;
        padding-left: 5px;
    }

    .about-container h2{
        padding: 0 15px;
    }

    .about-details-container{
        margin-bottom: 30px;
    }

    .weeding-flims-sub-container{
        padding-right: 20px;
        padding-left: 20px;
        align-items: center !important;
    }
    
    .weeding-flims-image{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0;
        padding-right: 0!important;
    }

    .modal-dialog{
        max-width: 100%;
    }

    .modal-content{
        margin-top: 40px;
    }

    .modal-content iframe{
        height: 53vw !important;
    }

    .awards-sub-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .carousel-control-prev {
        left: -15px;
    }

    .carousel-control-next {
        right: -14px;
    }

    .appointment-form{
        flex-direction: column;
        align-items: center;
    }

    .appointment-sub-container2 {
        max-width: 100%;
    }
    
    .appointment-form-input{
        width: 100%;
        margin-left: 8px;
    }

    .service-sub-container{
        padding-right: 20px;
        padding-left: 20px;
    }

    .service-left img {
        top: 0;
    }

    .service-left{
        height: 410px;
    }

    .service-right{
        padding: 30px 20px;
    }
}

@media (max-width: 376px) {
    .service-left {
        height: 360px;
    }

}

@media (max-width: 321px) {
    .appointment-sub-container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .service-left {
        height: 300px;
    }

}